body {
    padding-top: 10vh;
    height: auto;
}

h1 {
    padding-bottom: 4vh;
}

.login-button {
    background-color: #3c763d;
}

.jumbotron {
    height: 50vh;
background: linear-gradient(white, #999999, #666666, #333333)
}

/* General Purpose Styles */

.bolded {
	font-weight: bold;
}

/* Dashboard Styles */

.submission {
    height: 40vh;
}

.profile {
    height: 40vh;
}

.submission-banner {
	font-size: 20px;
	background-color: #999999;
	margin-top: -45px;
}

a svg:hover #playButton,
a svg:hover #logButton { 
  fill: #a09fa3;
}

a svg #playButton, 
a svg #logButton {
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
}