body {
    padding-top: 10vh;
    height: auto;
}

h1 {
    padding-bottom: 4vh;
}

.login-button {
    background-color: #3c763d;
}

/* General Purpose Styles */

.bolded {
	font-weight: bold;
}

/* Dashboard Styles */

.submission {
    height: 40vh;
}

.profile {
    height: 40vh;
}

.submission-banner {
	font-size: 20px;
	background-color: #999999;
	margin-top: -45px;
}
