# Environments & Editors
.vscode/
.idea/
.vagrant/
Vagrantfile

# Don't include the git index
.git/
.gitignore
.gitattributes

# Docker
Dockerfile
Dockerfile.dev
Dockerfile.prod
.dockerignore

# Logs
*.logs

# NodeJS & NPM
node_modules/
bower_components

# Tempfiles
*~
