version: '2'
services:
  db:
    image: postgres
    ports:
      - '5432:5432'
    volumes:
      - ./db/init.sql/:/docker-entrypoint-initdb.d/init.sql
  server:
    build: ./server
    ports:
      - '3001:3001'
    volumes:
      - ./server:/home/siggame/ophelia

