.custom-upload-button {
    background-color: $lightgreen;
    color: $black;
    border: none;
}

.team-management {
    button{
        background-color: $lightgreen;
        color: $black;
        border: none;
    }
}