<!DOCTYPE html>
<html>
    <%- include common/header.ejs %>

    <body>
        <%- include common/navbar.ejs %>
        <div class="container-fluid">
            <div class="col-md-6 wrapper games-wrapper">
                <h3>Games</h3>
                <table class="table table-striped">
                    <th>Oppoonent</th>
                    <th>Timestamp</th>
                    <th>Victory Reason</th>
                    <th>Viz Link</th>
                    <tr>
                        <td>ShellAI</td>
                        <td>2017-06-05 13:04:56</td>
                        <td>Won by defeating enemy beavers</td>
                        <td><a class="btn btn-info" href="http://siggame.io"><span class="glyphicon glyphicon-play-circle" aria-hidden="true" /></a></td>
                    </tr>
                    <tr>
                        <td>ShellAI</td>
                        <td>2017-06-05 13:04:56</td>
                        <td>Won by defeating enemy beavers</td>
                        <td><a class="btn btn-info" href="http://siggame.io"><span class="glyphicon glyphicon-play-circle" aria-hidden="true" /></a></td>
                    </tr>
                    <tr>
                        <td>ShellAI</td>
                        <td>2017-06-05 13:04:56</td>
                        <td>Won by defeating enemy beavers</td>
                        <td><a class="btn btn-info" href="http://siggame.io"><span class="glyphicon glyphicon-play-circle" aria-hidden="true" /></a></td>
                    </tr>
                    <tr>
                        <td>ShellAI</td>
                        <td>2017-06-05 13:04:56</td>
                        <td>Won by defeating enemy beavers</td>
                        <td><a class="btn btn-info" href="http://siggame.io"><span class="glyphicon glyphicon-play-circle" aria-hidden="true" /></a></td>
                    </tr>
                    <tr>
                        <td>ShellAI</td>
                        <td>2017-06-05 13:04:56</td>
                        <td>Won by defeating enemy beavers</td>
                        <td><a class="btn btn-info" href="http://siggame.io"><span class="glyphicon glyphicon-play-circle" aria-hidden="true" /></a></td>
                    </tr>
                    <tr>
                        <td>ShellAI</td>
                        <td>2017-06-05 13:04:56</td>
                        <td>Won by defeating enemy beavers</td>
                        <td><a class="btn btn-info" href="http://siggame.io"><span class="glyphicon glyphicon-play-circle" aria-hidden="true" /></a></td>
                    </tr>
                </table>
                <!-- TODO: Pagination/AJAX Calls for Games -->
            </div>
            <div class="col-md-6 wrapper info-wrapper">
                <div class="wrapper submission-wrapper">
                    <h3>Submission Status</h3>

                    <div class="col-md-6">
                        <h4>Latest Successful Build</h4>
                        <p>Build Tagged "Test", at 20:57, 2017-06-14</p>
                    </div>
                    <div class="col-md-6"><h4>Past Builds</h4></div>
                </div>
                <div class="wrapper group-info-wrapper">
                    <h3>Group Info</h3>
                    <h5>Group Name:</h5>
                </div>
            </div>
            <br />
        </div>

        <%- include common/scripts.ejs %>
    </body>
</html>
