<!DOCTYPE html>
<html>
    <%- include common/header.ejs %>

    <body>
        <%- include common/navbar.ejs %>
        <div class="grid index-grid">
            <div class="jumbotron-grid jumbotron">
                <h1>MegaminerAI</h1>
                <p>Some sample text to see how this looks.</p>
            </div>
            <div class="blog-posts-grid">
                <h3>Visit our Blog at <a href="https://medium.com/siggame">Medium</a>.</h3>
            </div>
            <div class="status-embed-grid">
                <h3>View current server status <a href="http://status.megaminerai.com">here</a>.</h3>
            </div>

        </div>

        <%- include common/scripts.ejs %>
    </body>
</html>
