<!DOCTYPE html>
<html>
    <head>
        <%- include common/styles.ejs %>
    </head>

    <body>
        <%- include common/navbar.ejs %>
        <div class="container">
            <div class="jumbotron">
                <h1>MegaminerAI</h1>
                <p>Some sample text to see how this looks.</p>
            </div>

        </div>

        <%- include common/scripts.ejs %>
    </body>
</html>
