<html>
<head>
    <title>SIG-Game - Login</title>
</head>
<body>

<form action="/login_action" method="post">
    email: <input type="text" name="email"><br>
    password: <input type="password" name="password"><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>