<!DOCTYPE html>
<html>
    <%- include common/header.ejs %>

    <body>
        <%- include common/navbar.ejs %>
        <div class="container login-box">
            <h1>Sign your Team up for MegaminerAI</h1>
            <form action="/" method="post">
                <div class="form-group">
                    <label for="group-name">Group Name <span style="font-weight: normal;">(alphanumeric and underscores only)</span></label>
                    <input type="text" class="form-control" id="group-name"><br>
                </div>
                <div class="form-group">
                    <label for="email">Primary Contact's Email Address</label>
                    <input type="email" class="form-control" id="email"><br>
                </div>
                <div class="form-group">
                    <label for="name">Primary Contact's Full Name</label>
                    <input type="text" class="form-control" id="name"><br>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password"><br>
                </div>
                <div class="form-group">
                    <label for="password-confirm">Confirm Password</label>
                    <input type="password" class="form-control" id="password-confirm"><br>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Submit</button><br>
                </div>
            </form>
        </div>
    </body>
</html>