<html>
<head>
    <title>Signup</title>
</head>
<body>

<form action="/login/signup" method="post">
    email: <input type="text" name="email"><br>
    password: <input type="password" name="password"><br>
    username: <input type="text" name="username"><br>
    name: <input type="text" name="name"><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>