body {
    padding-top: 10vh;
    height: auto;
}

.dashboard-box {
    padding: 40px 40px;
    height: 45vh;
    width: 48vw;
    border: solid 1px;
}

.login-box {
    align-content: left;
    border: 1px solid #000
}

h1 {
    padding-bottom: 4vh;
}

.wrapper {
    background-color: #f2f2f2;
}

.games-wrapper {
    padding: 2vh 2vw;
    margin-bottom: 2vh;
    height: 88vh;
    border: 2px solid #000;
}

.info-wrapper {
    padding: 0 2vw;
    margin-bottom: 2vh;
    height: 88vh;
    background-color: #FFF;
}

.submission-wrapper {
    padding: 2vh 0 1vw 1vw;
    height: 43vh;
    border: 2px solid #000;
}

.group-info-wrapper {
    padding: 2vh 0 1vw 1vw;
    margin:2vh 0;
    height: 43vh;
    border: 2px solid #000;
}

.login-button {
    background-color: #3c763d;
}

/* CSS Grid Stuff */

.grid {
    display: grid;
}

.dashboard-container {
    padding: 0 20px;
    grid-template-areas: "games submission"
                         "games groupinfo";
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    height: 85vh;
}

.profile-container {
    padding: 0 20px;
    grid-template-columns: 2fr 1fr;
    width: 50vw;
}

.profile-edit-container {
    padding: 0 20px;
    width: 50vw;
}

.index-grid {
    grid-template-areas: "jumbotron jumbotron"
                        "blog status";
    grid-gap: 15px;
    padding: 0 20px;
    height: 80vh;
}

.jumbotron-grid {
    grid-area: jumbotron;
    background-color: #e6e6e6;
    padding: 10px;
    align-items: center;
}

.blog-posts-grid {
    grid-area: blog;
}

.status-embed-grid {
    grid-area: status;
}

.games-grid {
    grid-area: games;
    /*border: 1px solid #000000;*/
    display: grid;
}

.submission-grid {
    grid-area: submission;
    /*border: 1px solid #000000;*/
}

.submission-subgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.group-info-grid {
    grid-area: groupinfo;
    /*border: 1px solid #000000;*/
}

.group-info-subgrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}